.content
    ul.nav-pills(ngbNav, #nav='ngbNav', [activeId]='activeTab', orientation='vertical')
        li(ngbNavItem='application')
            a(ngbNavLink)
                i.fas.fa-fw.fa-window-maximize.mr-2
                | 程序
            ng-template(ngbNavContent)
                .content-box
                    .row
                        .col-12.col-md-6
                            .logo-area
                                .tabby-logo.mt-3

                                h1.tabby-title Tabby
                                    sup α
                                .text-muted {{homeBase.appVersion}}

                                button.btn.btn-secondary.mt-3.mb-2(
                                    *ngIf='!updateAvailable && hostApp.platform !== Platform.Web',
                                    (click)='checkForUpdates()',
                                    [disabled]='checkingForUpdate'
                                )
                                    i.fas.fa-sync(
                                        [class.fa-spin]='checkingForUpdate'
                                    )
                                    span 检查更新

                                button.btn.btn-info.mt-3.mb-2(
                                    *ngIf='updateAvailable',
                                    (click)='updater.update()',
                                )
                                    i.fas.fa-sync
                                    span 更新

                        .col-12.col-md-6
                            .list-group.list-group-light.mb-5
                                button.list-group-item.list-group-item-action.link-card((click)='homeBase.reportBug()')
                                    i.fas.fa-fw.fa-bug
                                    div
                                        div 报告问题
                                        small.text-muted GitHub issue

                                button.list-group-item.list-group-item-action.link-card((click)='homeBase.openDiscussions()')
                                    i.fas.fa-fw.fa-comments
                                    div
                                        div 提出问题
                                        small.text-muted GitHub Discussions

                                button.list-group-item.list-group-item-action.link-card((click)='homeBase.openGitHub()')
                                    i.fab.fa-fw.fa-github
                                    div
                                        div GitHub
                                        small.text-muted 源码

                                button.list-group-item.list-group-item-action.link-card((click)='homeBase.openTabbyCN()')
                                    i.fab.fa-fw.fa-github
                                    div
                                        div Tabby 中文版
                                        small.text-muted 了解与提出建议

                                button.list-group-item.list-group-item-action.link-card((click)='showReleaseNotes()')
                                    i.fas.fa-fw.fa-book
                                    div
                                        div 更新日志
                                        small.text-muted 显示发行说明

                                button.list-group-item.list-group-item-action.link-card((click)='homeBase.openTwitter()')
                                    i.fab.fa-fw.fa-twitter
                                    div
                                        div 订阅更新
                                        small.text-muted Tabby 在 Twitter 上的新闻和更新


                    h3 程序设置
                    .form-line(*ngIf='platform.isShellIntegrationSupported()')
                        .header
                            .title Shell 集成
                            .description 允许在选择的文件夹中快速打开一个终端
                        toggle([ngModel]='isShellIntegrationInstalled', (ngModelChange)='toggleShellIntegration()')

                    .form-line(*ngIf='hostApp.platform !== Platform.Web')
                        .header
                            .title 启用分析
                            .description 我们只分析您的 Tabby 和操作系统版本
                        toggle(
                            [(ngModel)]='config.store.enableAnalytics',
                            (ngModelChange)='saveConfiguration(true)',
                        )

                    .form-line(*ngIf='hostApp.platform !== Platform.Web')
                        .header
                            .title 自动更新
                            .description 当有更新的版本的时自动更新
                        toggle([(ngModel)]='config.store.enableAutomaticUpdates', (ngModelChange)='saveConfiguration()')

                    .form-line(*ngIf='hostApp.platform !== Platform.Web')
                        .header
                            .title 调试

                        button.btn.btn-secondary((click)='hostWindow.openDevTools()')
                            i.fas.fa-bug
                            span 打开 DevTools

        ng-container(*ngFor='let provider of settingsProviders')
            li(*ngIf='provider.prioritized', [ngbNavItem]='provider.id')
                a(ngbNavLink)
                    i(class='fas fa-fw mr-2 fa-{{provider.icon}}')
                    | {{provider.title}}
                ng-template(ngbNavContent)
                    settings-tab-body([provider]='provider')

        .mb-3

        ng-container(*ngFor='let provider of settingsProviders')
            li(*ngIf='!provider.prioritized', [ngbNavItem]='provider.id')
                a(ngbNavLink)
                    i(class='fas fa-fw mr-2 fa-{{provider.icon || "puzzle-piece"}}')
                    | {{provider.title}}
                ng-template(ngbNavContent)
                    settings-tab-body([provider]='provider')

        li(ngbNavItem='config-file')
            a(ngbNavLink)
                i.fas.fa-fw.fa-code.mr-2
                | 配置
            ng-template.test(ngbNavContent)
                .d-flex.flex-column.w-100.h-100
                    .h-100.d-flex
                        .w-100.d-flex.flex-column
                            h3 配置
                            textarea.form-control.h-100(
                                [(ngModel)]='configFile'
                            )
                        .w-100.d-flex.flex-column(*ngIf='showConfigDefaults')
                            h3 默认
                            textarea.form-control.h-100(
                                [(ngModel)]='configDefaults',
                                readonly
                            )
                    .mt-3.d-flex
                        button.btn.btn-primary((click)='saveConfigFile()', *ngIf='isConfigFileValid()')
                            i.fas.fa-check.mr-2
                            | 保存和应用
                        button.btn.btn-primary(disabled, *ngIf='!isConfigFileValid()')
                            i.fas.fa-exclamation-triangle.mr-2
                            | 无效语法
                        button.btn.btn-secondary.ml-auto(
                            (click)='showConfigDefaults = !showConfigDefaults'
                        ) 显示默认
                        button.btn.btn-secondary.ml-3(
                            *ngIf='platform.getConfigPath()',
                            (click)='showConfigFile()'
                        )
                            i.fas.fa-external-link-square-alt.mr-2
                            | 显示配置

    div([ngbNavOutlet]='nav')

button.btn.btn-warning.btn-block(*ngIf='config.restartRequested', '(click)'='restartApp()') 重启程序以应用更改
