h3.mb-3 外观
.row
    .col-12.col-md-6
        .form-line
            .header
                .title 字体

            .input-group.w-75
                input.form-control.w-75(
                    type='text',
                    [showHint]='true',
                    [ngbTypeahead]='fontAutocomplete',
                    [(ngModel)]='config.store.terminal.font',
                    (ngModelChange)='config.save()',
                )
                input.form-control.w-25(
                    type='number',
                    max='48',
                    [(ngModel)]='config.store.terminal.fontSize',
                    (ngModelChange)='config.save()',
                )

        .form-line
            .header
                .title 启用连体字
            toggle(
                [(ngModel)]='config.store.terminal.ligatures',
                (ngModelChange)='config.save()',
            )

    .col-12.col-md-6
        color-scheme-preview([scheme]='config.store.terminal.colorScheme', [fontPreview]='true')

.content-box
    .form-line
        .header
            .title 终端背景

        .btn-group(
            [(ngModel)]='config.store.terminal.background',
            (ngModelChange)='config.save()',
            ngbRadioGroup
        )
            label.btn.btn-secondary(ngbButtonLabel)
                input(
                    type='radio',
                    ngbButton,
                    [value]='"theme"'
                )
                | 根据主题
            label.btn.btn-secondary(ngbButtonLabel)
                input(
                    type='radio',
                    ngbButton,
                    [value]='"colorScheme"'
                )
                | 根据配色方案

    .form-line
        .header
            .title 光标形状

        .btn-group(
            [(ngModel)]='config.store.terminal.cursor',
            (ngModelChange)='config.save()',
            ngbRadioGroup
        )
            label.btn.btn-secondary(ngbButtonLabel)
                input(
                    type='radio',
                    ngbButton,
                    [value]='"block"'
                )
                | █
            label.btn.btn-secondary(ngbButtonLabel)
                input(
                    type='radio',
                    ngbButton,
                    [value]='"beam"'
                )
                | |
            label.btn.btn-secondary(ngbButtonLabel)
                input(
                    type='radio',
                    ngbButton,
                    [value]='"underline"'
                )
                | ▁

    .form-line
        .header
            .title 闪烁光标

        toggle(
            [(ngModel)]='config.store.terminal.cursorBlink',
            (ngModelChange)='config.save()',
        )

    .form-line
        .header
            .title 备用字体
            .description 第二种字体，用于显示主字体中缺失的字符

        input.form-control(
            type='text',
            [ngbTypeahead]='fontAutocomplete',
            [(ngModel)]='config.store.terminal.fallbackFont',
            (ngModelChange)='config.save()'
        )

    .form-line
        .header
            .title 行间距
            .description 行与行之间的间隙
        input.form-control(
            type='number',
            [(ngModel)]='config.store.terminal.linePadding',
            (ngModelChange)='config.save()',
        )


    .form-line
        .header
            .title 自定义 CSS

    textarea.form-control.mb-5(
        [(ngModel)]='config.store.appearance.css',
        (ngModelChange)='saveConfiguration()',
    )
