div
    h3.mb-3 渲染

    .form-line(*ngIf='hostApp.platform !== Platform.Web')
        .header
            .title 前端
            .description 切换终端前端实现（实验性）

        select.form-control(
            [(ngModel)]='config.store.terminal.frontend',
            (ngModelChange)='config.save()',
        )
            option(value='xterm') xterm
            option(value='xterm-webgl') xterm (WebGL)

    .form-line
        .header
            .title 回滚
            .description 保持缓冲区行数
        input.form-control(
            type='number',
            [(ngModel)]='config.store.terminal.scrollbackLines',
            (ngModelChange)='config.save()',
        )

div.mt-4
    h3 键盘

    .form-line
        .header
            .title 使用 {{altKeyName}} 作为主按键
            .description 让 shell 替代 os 处理主按键
        toggle(
            [(ngModel)]='config.store.terminal.altIsMeta',
            (ngModelChange)='config.save()',
        )

    .form-line
        .header
            .title 滚动时输入
            .description 滚动到用户输入的位置
        toggle(
            [(ngModel)]='config.store.terminal.scrollOnInput',
            (ngModelChange)='config.save()',
        )

div.mt-4
    h3 鼠标

    .form-line
        .header
            .title 右键
            .description(*ngIf='config.store.terminal.rightClick == "paste"') 长按右键弹出菜单
        .btn-group(
            [(ngModel)]='config.store.terminal.rightClick',
            (ngModelChange)='config.save()',
            ngbRadioGroup
        )
            label.btn.btn-secondary(ngbButtonLabel)
                input(
                    type='radio',
                    ngbButton,
                    value='off'
                )
                | 关闭
            label.btn.btn-secondary(ngbButtonLabel)
                input(
                    type='radio',
                    ngbButton,
                    value='menu'
                )
                | 菜单
            label.btn.btn-secondary(ngbButtonLabel)
                input(
                    type='radio',
                    ngbButton,
                    value='paste'
                )
                | 粘贴

    .form-line
        .header
            .title 单击中键粘贴

        toggle(
            [(ngModel)]='config.store.terminal.pasteOnMiddleClick',
            (ngModelChange)='config.save()',
        )

    .form-line
        .header
            .title 分隔符
            .description 双击时选区将停在这些字符
        input.form-control(
            type='text',
            placeholder=' ()[]{}\'"',
            [(ngModel)]='config.store.terminal.wordSeparator',
            (ngModelChange)='config.save()',
        )

    .form-line
        .header
            .title 点击链接时需要按键
            .description 启用后需要按着该按键才能使链接能被点击

        select.form-control(
            [(ngModel)]='config.store.clickableLinks.modifier',
            (ngModelChange)='config.save()',
        )
            option([value]='null') None
            option(value='ctrlKey') Ctrl
            option(value='altKey') {{altKeyName}}
            option(value='shiftKey') Shift
            option(value='metaKey') {{metaKeyName}}

div.mt-4
    h3 剪贴板

    .form-line
        .header
            .title 选择时复制
        toggle(
            [(ngModel)]='config.store.terminal.copyOnSelect',
            (ngModelChange)='config.save()',
        )

    .form-line
        .header
            .title Bracketed 粘贴（需要 shell 支持）
            .description 防止意外执行粘贴的代码和破坏粘贴代码的结构
        toggle(
            [(ngModel)]='config.store.terminal.bracketedPaste',
            (ngModelChange)='config.save()',
        )

    .form-line
        .header
            .title 多行粘贴时警告
            .description 当粘贴多行时显示一个确认框
        toggle(
            [(ngModel)]='config.store.terminal.warnOnMultilinePaste',
            (ngModelChange)='config.save()',
        )

div.mt-4
    h3 声音

    .form-line
        .header
            .title 终端铃声
        .btn-group(
            [(ngModel)]='config.store.terminal.bell',
            (ngModelChange)='config.save()',
            ngbRadioGroup
        )
            label.btn.btn-secondary(ngbButtonLabel)
                input(
                    type='radio',
                    ngbButton,
                    [value]='"off"'
                )
                | Off
            label.btn.btn-secondary(ngbButtonLabel)
                input(
                    type='radio',
                    ngbButton,
                    [value]='"visual"'
                )
                | Visual
            label.btn.btn-secondary(ngbButtonLabel)
                input(
                    type='radio',
                    ngbButton,
                    [value]='"audible"'
                )
                | Audible

    .alert.alert-info.d-flex.align-items-center(*ngIf='config.store.terminal.bell != "audible" && (config.store.terminal.profile || "").startsWith("wsl")')
        .mr-auto WSL 终端铃声只能通过音量混合器静音
        button.btn.btn-secondary((click)='openWSLVolumeMixer()') Show Mixer

div.mt-4
    h3 启动

    .form-line(*ngIf='hostApp.platform !== Platform.Web')
        .header
            .title 启动时自动打开一个终端

        toggle(
            [(ngModel)]='config.store.terminal.autoOpen',
            (ngModelChange)='config.save()',
        )

    .form-line
        .header
            .title 启动时恢复终端标签页

        toggle(
            [(ngModel)]='config.store.recoverTabs',
            (ngModelChange)='config.save()',
        )

div.mt-4(*ngIf='hostApp.platform === Platform.Windows')
    h3 Windows

    .form-line
        .header
            .title 设置 Tabby 为 %COMSPEC%
            .description 允许在标签页中打开 .bat 文件，但可能会打断一些 shell
        toggle(
            [(ngModel)]='config.store.terminal.setComSpec',
            (ngModelChange)='config.save()',
        )
